<div class="form-container">
  {{ formName.value | json }}
  <form #formName="ngForm" method="post">
    <label>
      <input #inputName="ngModel" type="text" name="firstName ngmodel" placeholder="Your first name" ngModel>
    </label>
    <br/>
    <label>
      <input #inputName="ngModel" type="text" name="lastName ngmodel" placeholder="Your last name" ngModel>
    </label>
    <br/>
    <label>
      <input #inputName="ngModel" type="email" name="email ngmodel" placeholder="Your email" ngModel>
    </label>
    <br/>
    <label>
      <input #inputName="ngModel" type="tel" name="phoneNumber ngmodel" placeholder="Your phonenumber" ngModel>
    </label>
    <br/>
    <label>
      <select name='languageId' [(ngModel)]="languageName">
        <option value="{{languageName}}" selected>{{languageName}}</option>
        <option *ngFor="let language of languages" value="{{language.languageName}}">{{language.languageName}}</option>
      </select>
    </label>
    <br/>
    <button type="submit">Send</button>
    </form>
</div>
